<div class="container">
    <div class="col-lg-4"></div>
    <div class="col-lg-4"></div>
    <div style="margin-top:280px"></div>
<form action="/auth" method = "POST">
  <div class="form-group">
    <label for="inputUserName">User Name</label>
    <input type="username" class="form-control" id="user" name="inputUserName" aria-describedby="userHelp" placeholder="Enter user name">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" name="inputPassword" placeholder="Password">
  </div>
  <button type="submit" id="sub" class="btn btn-primary" value="send">Submit</button>
</form>
<div class="guest-div">
  <h2 class="guest-header">No account? click bellow to play as a guest</h2>
  <form action="/guest" class="guest-join">
  <button  type="submit" class="btn btn-primary">Join as guest</button>
  </form>
</div>
</div>





